.sidebar {
    display: flex;
    width: 25%;
    flex-direction: column;
}

ul {
    list-style:none;
}

.folder {
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-folder {
    height: 50px;
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
    background-color: white;

}
.active {
    background-color: lightblue;
}
.highlighted {
    background-color: lightblue;
 }
