.add-note-form {
    display: flex;
    /* justify-content: center; */
    align-items: space-around;
    flex-direction: column;
    min-height: 300px;
    padding: 30px 30px;
}
#note-content-input {
    height: 100px;
    width: 100;
}