
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
button:hover {
    cursor: pointer;
}
ul li {
    text-decoration: none;
}
.main-container {
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid black
}
header h1 {
    font-size: 40px;
}
.body {
    display: flex;
    flex-direction: row;
}
.sidebar {
    display: flex;
    width: 25%;
    flex-direction: column;
}

ul {
    list-style:none;
}

.folder {
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-folder, .back, .add-note {
    height: 50px;
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
    background-color: white;

}
.active {
    background-color: lightblue;
}
.highlighted {
    background-color: lightblue;
 }